*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
:root{
    --logo: #738D9D;
    --aside: #28303C;
    --bgColor: #FFF;
    --rcpBg: #424954;
    --rcpName: #738D9D;
    --rcpAdd: #152036;
    --rcpIon: #FFF;
    --rcpTitle: #000;
    --rcpSubTitle: #000;
    --rcpTextAreaPrepare: #DDD;
    --deleteBtn: #F46354;
    --addBtn: #4CAA84;
    --dltBtn: #F46354;
    --lgtGrey: rgb(218, 218, 218) ;
}
.invisible{
    display: none;
}



main{
    width: 335px;
    height: 100vh;
    background-color: var(--aside);
    position: fixed;
}
main .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.logo{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}
.logo h1{
    font-size: 62px;
    color: var(--logo);
    font-family: 'Dancing Script';
    font-weight: bold;
}
.recipes{
    width: calc(100% - 40px);
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 5px;
}
.recipes::-webkit-scrollbar{
    width:5px;
}
.recipes::-webkit-scrollbar-track {
    background: var(--aside);        /* color of the tracking area */
  }
.recipes::-webkit-scrollbar-thumb {
background-color: var(--rcpBg);    /* color of the scroll thumb */
border-radius: 3px;        /* roundness of the scroll thumb*/
}
.recipes .recipe:last-child{
    margin-bottom: 0;
}
.recipe{
    display: flex;
    background-color: var(--rcpBg);
    height: 45px;
    min-height: 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 5px;
}
.recipe ion-icon{
    color: var(--rcpIon);
    margin-left: 15px;
    margin-right: 10px;
}
.recipe-name{
    color: var(--rcpName);
    font-size: 18px;
    text-transform: capitalize;
}
.search-bar{
    width: 300px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    background-color: var(--rcpBg);
    color: var(--rcpIon);
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.search-bar::placeholder{
    color: var(--rcpName);
}



input:focus{
    outline: none;
}




section{
    width: calc(100% - 350px);
    height: 100%;
    margin-left: 350px;
    transform: translateY(0px);
    transition: all ease 1s;
}
.upper{
    transform: translateY(-2500px);
    transition: all ease 1s;
}
section .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-recipe{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.add-recipe h2{
    font-weight: 400;
    color: var(--rcpAdd);
    font-family: 'roboto';
    text-transform: uppercase;
    font-size: 26px;
}
form{
    width: calc(90%);
}
.recipe-text-local{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
label{
    font-weight: 400;
    color: var(--rcpSubTitle);
    font-family: 'roboto';
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
.name-text{
    height: 40px;
    border: 1px solid var(--lgtGrey);
    padding-left: 10px;
    border-radius: 4px;
}
.recipe-text-local input:focus{
    border: 1px solid var(--rcpAdd);
}
textarea{
    resize: none;
    border: 1px solid var(--lgtGrey);
    height: 100px;
    padding: 10px;
    border-radius: 4px;
}
textarea:focus{
    outline: none;
    border: 1px solid var(--rcpAdd);
}
.save-recipe{
    width: 100%;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    color: var(--bgColor);
    background-color: var(--addBtn);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.save-recipe ion-icon{
    margin-right: 10px;
}




.infos{
    transform: translateY(-1500px);
    display: none;
    opacity: 0;
}
.infos .add-recipe{
    margin-bottom: 50px;
}
.infos-visible{
    display: block;
    opacity: 1;
    transition: all ease 1s;
}
.infos-visible-transition{
    transition: all ease 1s;
    transform: translateY(0px);
    opacity: 1;
}
.infos .container{
    display: block;
}
.recipe-infos{
    width: calc(90%);
}
.infos .recipe-text-local{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.recipe-infos textarea,
.recipe-infos .name-text{
    background-color: var(--lgtGrey);
    color: var(--rcpAdd);
    font-family: 'roboto';
    height: 150px;
}
.recipe-infos textarea::-webkit-scrollbar{
    width:5px;
}
.recipe-infos textarea::-webkit-scrollbar-track {
    background: var(--aside);
  }
.recipe-infos textarea::-webkit-scrollbar-thumb {
background-color: var(--rcpBg);
border-radius: 3px;
}
.infos .recipe-text-local:last-child{
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
}
.btns{
    display: flex;
    justify-content: center;
}
.deleteBtn,
.add-moreBtn{
    width: 200px;
    height: 40px;
    margin: 0 20px;
    font-size: 26px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rcpIon);
    cursor: pointer;
}
.deleteBtn{
    background-color: var(--dltBtn);
}
.add-moreBtn{
    background-color: var(--addBtn);
}